#homePage {
    margin-top: 0;
    display: flex;
    font-family: 'SecularOne';
    font-weight: bold;
    color: white;
    flex-direction: column;
}

#float-btn {
    width: 157px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#header {
    flex: 3;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#tasks-title {
    flex: 1;
    font-size: 24px;
    text-align: center;
}

#tasks-content {
    flex: 7;
}

p .crewmate {
    color: #18ADCE;
}

div .crewmate {
    background-color: #18ADCE;
}