@font-face {
    font-family: 'SecularOne';
    src: url('../Fonts/SecularOne-Regular.ttf');
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'SecularOne';
    font-weight: bold;
    margin-top: 8%;
    color: white;
}

h1 {
    font-size: 30pt;
}

.uName {
    margin-bottom: 20px;
}

#loginBtn {
    margin-top: 10%;
    font-family: 'SecularOne';
    font-weight: bold;
    font-size: 20pt;
    border-radius: 10px;
    border-style: solid;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border-color: black;
}

#loginBtn:focus {
    outline: none;
    background-color: #333333;
    color: white;
}

#loginForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    font-family: 'SecularOne';
    border-radius: 10px;
    border-style: solid;
    border-color: #333333;
    padding-left: 10px
}

input:focus {
    outline: none;
    border-color: blueviolet;
}

